@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, Courier, monospace;

    margin: 0px;
    padding: 0px;
}


/* --------------- Root Settings --------------- */
:root {
  --dark-blue: #023e8a;
  --light-blue: #0077b6;
  --off-white: #fefae0;
  --light-brown: #dda15e;
  --dark-brown: #bc6c25;
  --darker-brown: #9c591f;

  background-color: var(--bg-color);
}

body {
  background-color: whitesmoke;
}


/* --------------- Header --------------- */
#header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 22px;

  background-color: #1e88e5;
}

/* --------------- Header >> Logo --------------- */
#logo-header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#logo-grid {
    width: 35px;
    height: auto;
}

#logo-text {
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

/* --------------- Header >> Navigation --------------- */
#navigation-header-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navigation-btn {
  background-color: #1e88e5;
  color: white;

  font-size: 25px;
  font-weight: bolder;

  height: 50px;
  width: 140px;
  border: none;
  border-radius: 10px;

  transition: background 0.3s ease;
  
}

.navigation-btn:hover {
  background-color: #1565c0;
  cursor:pointer;
}


/* --------------- Middle Div --------------- */
#middle-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
}
/* --------------- Middle Div >> Compartments/Strains --------------- */
#compartments-div,
#strains-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 25px;
}

/* --------------- Middle Div >> Description --------------- */
.description-div {
    font-size: 35px;
    margin: 20px 20px 20px 0px;
}

/* --------------- Middle Div >> Compartments >> Compartment Grid --------------- */
#compartments-grid-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 60px;
}

.single-compartment-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 115px;
}

.compartment-icon {
    border: none;
    border-radius: 35px;
    background-color: white;
    background-size: cover;
    background-position: center;
    filter: brightness(1) saturate(0.05);
    transition: filter 0.2s ease;
}

.compartment-icon:hover, 
.selected-btn {
    filter: brightness(1.5) saturate(1);
    cursor:pointer;
}

.compartment-name {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
}

/* --------------- Middle Div >> Compartments >> Checkbox --------------- */
.comp-checkbox {
    transform: scale(1.5);
    margin-right: 8px;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
    font-size: 25px;

    padding: 10px;
}

/* --------------- Middle Div >> Strains --------------- */
#strain-entry-rule-list {
    width: 560px;
    margin: -10px 10px 15px 0px;
}

.strain-entry-rule {
    margin: 10px;
    font-size: 22px;
}

#strain-textbox {
    width: 550px;
    height: 200px;

    font-size: 18px;

    padding: 10px;
}

#load-btn {
  background-color: #1e88e5;
  color: white;

  font-size: 25px;
  font-weight: bolder;

  margin-top: 30px;

  height: 50px;
  width: 420px;
  border: none;
  border-radius: 10px;

  transition: background 0.3s ease;
  
}

#load-btn:hover {
  background-color: #1565c0;
  cursor:pointer;
}


/* --------------- Footer Div --------------- */
#footer-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    background-color: #1e88e5;
    color: white;

    font-size: larger;
    font-weight: bolder;

}